*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    margin: 20px;
    background-color:white;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #f56200;
    text-align: center;
    font-size: 20px;
}
span{
    color: #db0a81;
    text-transform: uppercase;
}
.gameboard{
    padding: 10px 15px;
    margin: 0 auto;
    display: flex;
    height: 100%;
   
}


.gameboard .navigation{
    display: flex;
    flex-direction: column;
    border: #f56200;
    border-style: solid;
    border-radius: 15px;
    width: 15%;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    
}
.gameboard .navigation .fa-solid{
    align-self: center;
    padding-top: 15px;
    font-size: 100px;
    color:#db0a81;
    padding-bottom: 25px;
    
  
}

.gameboard .main .numbers{
    display: flex;
    color: #db0a81;
    justify-content: space-around;
    font-size: 200%;
    border: #db0a81;
    border-style: solid;
    border-radius: 15px;
}

.gameboard .main .costs{
    display: flex;
    color: #db0a81;
    justify-content: space-around;
    font-size: 200%;
    border: #db0a81;
    border-style: solid;
    border-radius: 15px;
}

.gameboard .navigation p{
    margin-top: auto;
    text-align: center;
}

.gameboard .main{
    width: 70%;
    border: #f56200;
    border-style: solid;
    border-radius: 15px;
    width: 70%;
    margin-left: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.gameboard .main .title{
    margin-bottom: 30px;
    color: #db0a81;
}

.gameboard .main .title{
    margin-top: 40px;
    color: #db0a81;
}
/* .gameboard .main .numbers{
    margin-right: 15px;
    color: #727272;
    font-size: 16px;
} */
/* .gameboard .main .title select{
    border: none;
    font-size: 16px;
    background-color: rgba( 0 0 0 / 0);
} */ 

.gameboard .scores {
    
    border: #f56200;
    border-style: solid;
    border-radius: 15px;
    width: 15%;
    margin-left: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.gameboard .scores {
    
    color: #f56200;
    justify-content: space-around;
    font-size: 150%;
}

footer{
    display: flex;
    color: aliceblue;
    justify-content: space-evenly;
    width: auto;
    background-color: #51042f;
}



footer .social .fa-github{
    margin-top: 30px;
    font-size: 50px;
}

footer .social .fa-github:hover{
    color: #daa7c4;
}

footer .social .fa-linkedin{
    
    margin-top: 30px;
    font-size: 50px;
}

footer .social .fa-linkedin:hover{
    color:aqua
}


